
    <h1>Schedule</h1>

    <button id="user-one-events">User 1 Events</button>
    <div id="events-div"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/schedscript.js"></script>
